## .env.development || .env.production

#Port

PORT =

#MongoDB

USER_MONGO = 
PASSWORD_MONGO = 
DB_MONGO = 

#GithubLogin

CLIENT_ID_GH = 
CLIENT_SECRET_GH =
CALLBAK_URL_GH = 

#jwt

SECRET_KEY_TOKEN = 