{{> navBar}}

<h2>Perfil</h2>

<div class="userProfile">
    <h2>Bienvenido {{user.name}}</h2>
    <p>Email: {{user.email}}</p>
    {{#if user.age}}
    <p>Age: {{user.age}}</p>
    {{/if}}
    <a href="/api/user/logout"><button>Logout</button></a>
</div>